// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.hero {
  padding: 4rem;
  background-color: #2f2f9e;
  border-radius: .4rem;
  color: #fff;
  margin-bottom: 2rem;
  align-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}